<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <remove name="PHP_via_FastCGI" />
            <add name="PHP_via_FastCGI" path="*.php" verb="*" modules="FastCgiModule" scriptProcessor="C:\php\php-cgi.exe" resourceType="Either" requireAccess="Script" />
        </handlers>
        <defaultDocument>
            <files>
                <clear />
                <add value="public/index.php" />
                <add value="index.php" />
                <add value="index.html" />
            </files>
        </defaultDocument>
        <fastCgi>
            <application fullPath="C:\php\php-cgi.exe">
                <environmentVariables>
                    <environmentVariable name="PHP_FCGI_MAX_REQUESTS" value="10000" />
                    <environmentVariable name="PHPRC" value="C:\php" />
                </environmentVariables>
            </application>
        </fastCgi>
    </system.webServer>
</configuration>
